<h1>DBZ Personajes</h1>
<hr>

<!-- podemos usar snippets de bootstrap como .row o .col para crear los divs con las clases directamente -->
<div class="row">
  <div class="col">

    <!-- Dado que declaramos el atributo characterLsit como @Input(), podemos asignar valores del componente padre si los arrays[] son del mismo tipo -->
    <dbz-list [characterList]="characters" (onDelete)="onDeleteCharacterById($event)"></dbz-list>

  </div>

  <div class="col">

    <dbz-add-character (onNewCharacter)="onNewCharacter($event)" ></dbz-add-character>

  </div>
</div>
